html {
  font-size: 10px;
}

body {
  background-color: rgb(150, 0, 0);
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 15vh;
  position: sticky;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 125px;
  padding: 100px;
}

.card-container {
  width: 150px;
  height: 150px;
  position: relative;
  transition: transform 200ms ease-in-out,
              opacity 200ms ease-in-out;
  opacity: 0.9;
}
.card-container:hover {
  transform: scale(1.1);
  opacity: 1;
}

.card-content {
  position: absolute;
  background-color: lightgreen;
  transition: transform 450ms ease-in-out;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition-delay: 450ms;
}
.card-front, .card-back {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background-size: cover;
  border-radius: 10px;
  transition: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-front {
  font-size: 2rem;
  text-align: center;
  transform: rotateY(0deg);
}

.card-back {
  font-size: 1.5rem;
  transform: rotateY(180deg);
}

.card-back>p {
  padding: 0 0.5rem;
  margin: 0;
}

.card-container[data-open="true"][data-delay="true"]:hover>.card-content {
  transform: scale(1.5)
             rotateY(180deg);
}

.card-container[data-open="true"]>.card-content {
  transform: scale(1.4)
             rotateY(0deg);
}

.card-cover {
  color: rgb(0, 75, 0);
  position: absolute;
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: right;
  transform-style: preserve-3d;
  transition: transform 450ms ease-in-out;
  transform: rotateY(0);
  border-radius: 10px;
  font-size: 1.5rem;
}

.card-cover>h1 {
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.card-container[data-open="true"]>.card-cover {
  transform: rotateY(130deg);
}

a {
  text-decoration: none;
  transition: transform 150ms ease-in-out;
}

a:hover {
  transform: scale(1.15);
}